{% extends 'nav.html'%}
{% block content %}

    <header>
        <img src='https://scontent.fmnl9-4.fna.fbcdn.net/v/t1.6435-1/132340567_1843335789162876_1539206073738593210_n.jpg?stp=dst-jpg_p320x320&_nc_cat=108&ccb=1-7&_nc_sid=7206a8&_nc_eui2=AeEfG9bEIliWYGGFgZ-UK7poHZvPV3l41k0dm89XeXjWTeaBPG7dZkPl5z7fsM_k_edsN1HkVm6HGqDVg6bI9kwc&_nc_ohc=6vWcW5LNJHUAX9-kMHi&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfCbK_sDOezU1RAg3etFqG2oxfe4KmTgcQsTfvE2WFG1qA&oe=652D1230' alt="Jodi Moselle Alcantara">
        <h1>Jodi Moselle Alcantara</h1>
        <p>Web Developer</p>
    </header>


{% endblock %}